.board-game {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  width: 80vw;
  height: 80vh;
  padding: 70px;
  overflow: hidden;
  border-radius: 10px;
  background-color: $board-game-bg;
  box-shadow: 2px 3px 95px 0px rgba(0, 0, 0, 0.25);

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25vw;
    height: 25vw;
    transform: translate(50%, 50%) rotate(-45deg);
    background-color: $board-game-ornament;
    z-index: 1;
  }
}