.hangman-element {
    display: block;
    position: absolute;

    @media (max-width: $breakpoint) {
      transform: scale(0.7);
    }

    &.hide {
      opacity: 0;
    }

    &.bg-img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
    } 

    &.gallows {
      width: 240px;
      height: 30px;
      left: -70px;
      border-radius: 0 10px 10px 0;
      background-color: $gallows-bg;

      &::after {
        width: 30px;
        height: 40px;
        top: 100%;
        right: 30px;
        background-color: $gallows-bg;
      }
    }

    &.head {
      width: 130px;
      height: 144px;
      background-image: url('./../img/head.png');
      z-index: 1;
    }

    &.neck {
      width: 23px;
      height: 15px;
      bottom: 2px;
      left: 50%;
      transform: translate(-50%, 100%);
      border-radius: 3px;
      background-color: $hangman-skin;
    }

    &.corpus {
      width: 60px;
      height: 95px;
      bottom: -13px;
      left: 50%;
      transform: translate(-50%, 100%);
      border-radius: 10px;
      background-color: $clothes-blue;

      &::after {
        width: 50%;
        height: 70px;
        top: 0;
        left: 0;
        border-radius: 10px 0 0 0;
        background-color: $clothes-light-green;
      }

      &::before {
        width: 50%;
        height: 70px;
        top: 0;
        right: 0;
        border-radius: 0 10px 0 0;
        background-color: $clothes-dark-green;
      }
    }

    &.arm {
      width: 30px;
      height: 75px;

      &.arm-right {
        background-color: $clothes-dark-green;
      }

      &.arm-left {
        background-color: $clothes-light-green;
      }
    }

    &.hand {
      width: 20px;
      height: 10px;
      border-radius: 0 0 10px 10px;
      background-color: $hangman-skin;
    }

    &.leg {
      width: 25px;
      height: 90px;
      border-radius: 0 0 8px 8px;
      background-color: $clothes-blue;
    }

    &.foot {
      width: 40px;
      height: 15px;
      background-color: $hangman-skin;
      border-radius: 10px;
    }
  }