.hangman-box {
  position: relative;
  width: 50%;

  .gallows {
    display: block;
    position: absolute;
    width: 240px;
    height: 30px;
    left: -70px;
    border-radius: 0 10px 10px 0;
    background-color: $gallows-bg;

    @media (max-width: $breakpoint) {
      height: 20px;
    }

    &::after {
      content: '';
      display: block;
      width: 30px;
      height: 40px;
      position: absolute;
      top: 100%;
      right: 30px;
      background-color: $gallows-bg;

      @media (max-width: $breakpoint) {
        width: 20px;
        height: 30px;
      }
    }

    .head {
      right: -20px;
      top: 64px;

      @media (max-width: $breakpoint) {
        right: -25px;
        top: 10px;
      }
    }
  }

  .corpus {
    .arm {
      top: 1px;

      &.arm-right {

        right: 7px;
        transform: translateX(100%) rotate(-40deg);
      }

      &.arm-left {
        left: 7px;
        transform: translateX(-100%) rotate(40deg);
      }

      .hand {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
      }
    }

    .leg {
      &.leg-right {
        right: -7px;
        transform: translateY(100%) rotate(-10deg);
      }

      &.leg-left {
        left: -7px;
        transform: translateY(100%) rotate(10deg);
      }
    }

    .foot {

      &.foot-right {
        bottom: 0;
        left: 0;
        transform: translateY(100%);
      }

      &.foot-left {
        bottom: 0;
        right: 0;
        transform: translateY(100%);
      }
    }
  }
}