.mistake-wrapper {
  width: 50%;
  text-transform: uppercase;
  font-size: 5.5vh;
  color: $missed-letters-color;

  p {
    padding-left: 10px;
    font-size: 2.6vh;
    color: $missed-letters-color-title;
  }

  .wrong-letters-wrapper {
    .wrong-letter {
      display: inline-block;
      width: 50px;
      text-align: center;
      transition: all 0.3s ease-in-out;

      &.duplicate-choice {
        color: $missed-letters-error;
        transform: scale(1.1);
      }
    }
  }
}