.word-wrapper {
  position: static;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  .letter-box {
    width: 6vw;
    height: 9.5vh;
    border-radius: 10px;
    background-color: $letter-box-bg;
    color: transparent;// to remove
    text-align: center;
    line-height: 9.5vh;
    font-size: 4vh;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &.active-box {
      background-color: $letter-box-active-bg;

      &.correct {
        color: $white;
      }
    }
  }
}