.game-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .game-over-layer {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: $game-over-layer-bg;
    color: $white;

    .game-over-action-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .game-over-headline {
        font-size: 6vh;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
      }

      .play-again-button {
        display: block;
        padding: 40px 80px;
        margin: 40px auto;
        border: 4px dashed $play-again-button;
        border-radius: 60px;
        background: transparent;
        font-size: 2.5vh;
        font-weight: bold;
        text-transform: uppercase;
        color: $play-again-button;
        transition: all 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }

  &.game-over {
    .game-over-layer {
      display: block;
    }
  }
}