// General

html { 
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Links
a {
  text-decoration: none;
}

// Content
strong {
  font-weight: 700;
}

p {
  margin: 0;
}