/* variables - colors in project
----------------------------------------------------------------*/
$white: #fff;
$main-bg: #3b4163;
$board-game-bg: #f5f5f5;
$board-game-ornament: #4d6afa;
$game-over-layer-bg: rgba(0,0,0, 0.5);
$play-again-button: #ffba00;

$letter-box-bg: #e6e6e7;
$letter-box-active-bg: #53555d;
$missed-letters-color-title: #53555d;
$missed-letters-color: #4d69fa;
$missed-letters-error: #ff2929;

$gallows-bg: #53555d;
$hangman-skin: #fece8a;
$clothes-blue: #3c5a92;
$clothes-light-green: #8ac657;
$clothes-dark-green: #4ea06a;